VITE_SUPABASE_URL=https://wprgwynjcbvlzampgwcs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indwcmd3eW5qY2J2bHphbXBnd2NzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NDAxODksImV4cCI6MjEwMTMxNjE4OX0.mIR5Ksvl5LunRuNAuKeOPZuTboKZebs0ZzTlzRpiRdM
